@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto";
}
body {
	background: linear-gradient(120deg, rgb(224, 224, 202) 0%, rgb(39, 33, 33) 100%) no-repeat;
	height: 100vh;
}
#root {
	height: 100vh;
}
